html, body {
    height: 100%;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
    z-index: 2;
}
.header .container {
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between; /*что это*/
    height: 50px;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__link {
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}

@media (max-width: 767px) {
    .header__body {
       height: 30px; 
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 2;
    }
    .header__burger span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #A9A9A9;
        padding: 35px 0px 0px 0px;
    }
    .header__link {
        display: block;
        padding: 5px;
    }
}

.content {
    padding: 50px 0px;
 }

p {
    margin: 0px 0px 10px 0px;
}